DataFactory/pipeline/Bronze_Full_CosmosDB.json
{
	"name": "Bronze_Full_CosmosDB",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Bronze/Bronze Full",
					"baseParameters": {
						"StartDate": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndDate": {
							"value": "@variables('EndTime')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@{div(sub(ticks(pipeline().parameters.start_time), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@{div(sub(ticks(pipeline().parameters.end_time), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"start_time": {
				"type": "string",
				"defaultValue": "2020-01-01 00:00:00"
			},
			"end_time": {
				"type": "string",
				"defaultValue": "2022-05-11 00:00:00"
			}
		},
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"EndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev/Draft/CosmosDB/Full"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-23T08:12:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}