DataFactory/pipeline/Bronze_Delta_CosmosDB.json
{
	"name": "Bronze_Delta_CosmosDB",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tables",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable Table",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Table",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable EndTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EndTime",
								"value": {
									"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set variable EndTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Bronze/Bronze Delta",
								"baseParameters": {
									"Table": {
										"value": "@variables('Table')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndTime')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Trigger Silver Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Silver_Delta_CosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"end_time": {
							"value": "@pipeline().parameters.end_time",
							"type": "Expression"
						},
						"Tables": {
							"value": "@pipeline().parameters.Tables",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"end_time": {
				"type": "string",
				"defaultValue": "2022-05-12 03:00:00"
			},
			"Tables": {
				"type": "array",
				"defaultValue": [
					"Post",
					"Geometry",
					"PostStat",
					"UserInfo",
					"Categories",
					"Places",
					"Feed",
					"GeoLocation"
				]
			}
		},
		"variables": {
			"EndTime": {
				"type": "String"
			},
			"Table": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev/Draft/CosmosDB/Delta"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-23T08:12:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}