DataFactory/pipeline/Daily_Bronze_Update_CosmosDB_copy1.json
{
	"name": "Daily_Bronze_Update_CosmosDB_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tables",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Bronze ETL",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set end_time in timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/0 CosmosDB Update/0 Bronze",
								"baseParameters": {
									"Table": {
										"value": "@item()",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndTime')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set end_time in timestamp",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EndTime",
								"value": {
									"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Tables": {
				"type": "array",
				"defaultValue": [
					"FeedList",
					"PostStat",
					"UserInfo",
					"Feed"
				]
			},
			"end_time": {
				"type": "string",
				"defaultValue": "2022-06-24 04:00:00"
			}
		},
		"variables": {
			"EndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Cosmos DB/Daily"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-24T05:03:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}