DataFactory/pipeline/get_log_analytics_data.json
{
	"name": "get_log_analytics_data",
	"properties": {
		"activities": [
			{
				"name": "getBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "getClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',activity('getClientSecret').output.value,\n'&resource=',variables('Resource')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getClientSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultClientSecretURI,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "ManagedVirtualNetworkIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "copyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\"query\": \"AppRequests | where TimeGenerated > ago(12h) | summarize avgRequestDuration=avg(DurationMs) by bin(TimeGenerated, 10m), _ResourceId\"}",
						"additionalHeaders": {
							"Content-Type": "application/json;charset=utf-8",
							"Authorization": {
								"value": "@concat('Bearer ',activity('getBearerToken').output.access_token)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "log_analytics_dataset",
						"type": "DatasetReference",
						"parameters": {
							"WorkspaceID": {
								"value": "@pipeline().parameters.WorkspaceID",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_bronze",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"KeyVaultClientSecretURI": {
				"type": "string",
				"defaultValue": "https://kv-adf-dslab.vault.azure.net/secrets/LogAnaliticsClient-Secret/9ceb4860df994011ad92632b4b950477"
			},
			"ClientID": {
				"type": "string",
				"defaultValue": "75437993-3cde-47a2-9665-e5116db47c25"
			},
			"TenantID": {
				"type": "string",
				"defaultValue": "f98a3e64-1a37-4d3c-a324-f75eb3b0b7e4"
			},
			"WorkspaceID": {
				"type": "string",
				"defaultValue": "3a8b702f-dc94-4327-bf49-d7bd58804a90"
			}
		},
		"variables": {
			"Resource": {
				"type": "String",
				"defaultValue": "https://api.loganalytics.io"
			}
		},
		"folder": {
			"name": "Dev/Draft"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-31T20:08:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}