DataFactory/pipeline/NewExtractionsLoop.json
{
	"name": "NewExtractionsLoop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.startDate",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Variable Start Date",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startDate",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable End Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Variable Start Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "endDate",
								"value": {
									"value": "@formatDateTime(addDays(variables('startDate'),7), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Rewarding_algorithm",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set Variable End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/riccardo.perelli@blinkoo.com/RewardingSystem/Coin_algorithm_v2",
								"baseParameters": {
									"endDate": {
										"value": "@variables('endDate')",
										"type": "Expression"
									},
									"startDate": {
										"value": "@variables('startDate')",
										"type": "Expression"
									},
									"BookedWeight": "30",
									"DetailedWeight": "15",
									"LikedWeight": "20",
									"MappedWeight": "18",
									"BookmarkedWeight": "50",
									"SharedWeight": "100",
									"ViewWeight": "1.5",
									"Tau": "10",
									"TopCreators": "10",
									"MidCreators": "50",
									"BottomCreators": "100",
									"TopCreatorsRatio": "30",
									"MidCreatorsRatio": "40",
									"BottomCreatorsRatio": "30",
									"TotalCoin": "100000",
									"firstRoundPercentage": "20",
									"secondRoundPercentage": "80",
									"postTableName": "by_post_rewarding_",
									"userTableName": "by_user_rewarding_"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "array",
				"defaultValue": [
					"2023-01-03 23:59:59",
					"2023-01-10 23:59:59",
					"2023-01-17 23:59:59",
					"2023-01-24 23:59:59",
					"2023-01-31 23:59:59"
				]
			}
		},
		"variables": {
			"startDate": {
				"type": "String"
			},
			"endDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "KPIs"
		},
		"annotations": []
	}
}