DataFactory/pipeline/Silver_LogAnalytics.json
{
	"name": "Silver_LogAnalytics",
	"properties": {
		"activities": [
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableNames",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Variable Table",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Table",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable End Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Variable Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EndTime",
								"value": {
									"value": "@formatDateTime(addHours(pipeline().parameters.start_time,-3),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "BronzeToSilver_por_version",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set Variable End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/1 LogAnalytics/Delta",
								"baseParameters": {
									"Table": {
										"value": "@variables('Table')",
										"type": "Expression"
									},
									"EndDate": {
										"value": "@variables('EndTime')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Post Interactions",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Variable End Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PostInteractions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"triggerTime": {
							"value": "@formatDateTime(pipeline().parameters.triggerTime,'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"endTime": {
							"value": "@variables('EndTime')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "User info ext pre-processing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Variable End Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PostInteractions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"triggerTime": {
							"value": "@formatDateTime(pipeline().parameters.triggerTime,'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"endTime": "@variables(\"EndTime\")"
					}
				}
			},
			{
				"name": "Set Variable End Time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "For Each Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@concat(formatDateTime(addHours(pipeline().parameters.triggerTime,-5),'yyyy-MM-dd'), ' ', '23:59:59')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TableNames": {
				"type": "array",
				"defaultValue": [
					"AppDependencies",
					"AppEvents",
					"AppExceptions",
					"AppMetrics",
					"AppPageViews",
					"AppPerformanceCounters",
					"AppRequests",
					"AppSystemEvents",
					"AppTraces",
					"Usage"
				]
			},
			"start_time": {
				"type": "string",
				"defaultValue": "2023-12-07 03:00:00"
			},
			"triggerTime": {
				"type": "string",
				"defaultValue": "@trigger().startTime"
			}
		},
		"variables": {
			"EndTime": {
				"type": "String"
			},
			"Table": {
				"type": "String"
			},
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LogAnalytics"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-06T21:34:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}