DataFactory/pipeline/User_preferences.json
{
	"name": "User_preferences",
	"properties": {
		"activities": [
			{
				"name": "User Preferences Prod",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set End time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User Preferences/Preferences",
					"baseParameters": {
						"StartAt": {
							"value": "@concat(formatDateTime(variables('start_time'),'yyyy-MM-dd'), ' ', '00:00:00')",
							"type": "Expression"
						},
						"EndAt": {
							"value": "@concat(formatDateTime(variables('end_time'),'yyyy-MM-dd'), ' ', '23:59:59')",
							"type": "Expression"
						},
						"OperationType": {
							"value": "@pipeline().parameters.operationType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "To SQL Server Prod",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "User Preferences Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User Preferences/ToSQLServer"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@if(equals(pipeline().parameters.operationType, 'weekly'), addDays(pipeline().parameters.triggerTime, -7), addDays(startOfMonth(addToTime(pipeline().parameters.triggerTime, 1, 'Month')), -1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set End time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": {
						"value": "@pipeline().parameters.triggerTime",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"operationType": {
				"type": "string",
				"defaultValue": "weekly"
			},
			"triggerTime": {
				"type": "string",
				"defaultValue": "2023-07-09 23:59:00"
			}
		},
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "KPIs"
		},
		"annotations": []
	}
}