blinkoo-data-factory/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_ClientSecret": {
			"type": "string",
			"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_ClientID": {
			"type": "string",
			"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_TenantID": {
			"type": "string",
			"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_WorkspaceID": {
			"type": "string",
			"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_Table_Names": {
			"type": "array",
			"defaultValue": [
				"AppDependencies",
				"AppEvents",
				"AppExceptions",
				"AppMetrics",
				"AppPageViews",
				"AppPerformanceCounters",
				"AppRequests",
				"AppSystemEvents",
				"AppTraces",
				"Usage"
			]
		},
		"HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_end_time": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Post')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Post",
						"folderPath": "Post",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_PostStat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PostStat",
						"folderPath": "PostStat",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_UserInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "UserInfo",
						"folderPath": "UserInfo",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_efo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Draft"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"discriminator": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"profileDescription": {
							"type": "string"
						},
						"avatarKey": {
							"type": "string"
						},
						"profileSlug": {
							"type": "string"
						},
						"isVerified": {
							"type": "boolean"
						},
						"isCertified": {
							"type": "boolean"
						},
						"isBackofficeMade": {
							"type": "boolean"
						},
						"receivedLikesCount": {
							"type": "integer"
						},
						"followingCount": {
							"type": "integer"
						},
						"followerCount": {
							"type": "integer"
						},
						"hasSelectedInterests": {
							"type": "boolean"
						},
						"selectedInterests": {
							"type": "array"
						},
						"relatedThemes": {
							"type": "array"
						},
						"likedPosts": {
							"type": "array"
						},
						"bookmarkedPosts": {
							"type": "array"
						},
						"posts": {
							"type": "array"
						},
						"excludedPosts": {
							"type": "array"
						},
						"termsAndConditions": {
							"type": "null"
						},
						"thirdPartyMarketing": {
							"type": "null"
						},
						"userProfiling": {
							"type": "null"
						},
						"createdAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "null"
						},
						"userDevices": {
							"type": "array"
						}
					}
				},
				"typeProperties": {
					"collectionName": "UserInfo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Discriminator": {
							"type": "string"
						},
						"CategoryId": {
							"type": "string"
						},
						"Name": {
							"type": "string"
						},
						"EngName": {
							"type": "null"
						},
						"Label": {
							"type": "string"
						},
						"Level": {
							"type": "integer"
						},
						"ParentCategories": {
							"type": "array"
						},
						"ChildCategories": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ChildCategoryId": {
										"type": "string"
									},
									"Label": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Categories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"postType": {
							"type": "string"
						},
						"primaryTip": {
							"type": "object",
							"properties": {
								"tipId": {
									"type": "string"
								},
								"activities": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"categoryId": {
													"type": "string"
												},
												"engName": {
													"type": "null"
												},
												"label": {
													"type": "string"
												},
												"level": {
													"type": "integer"
												},
												"name": {
													"type": "string"
												}
											}
										}
									}
								},
								"tags": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											}
										}
									}
								},
								"content": {
									"type": "object",
									"properties": {
										"placeId": {
											"type": "string"
										},
										"geoLocation": {
											"type": "object",
											"properties": {
												"Type": {
													"type": "string"
												},
												"Coordinates": {
													"type": "object",
													"properties": {
														"Lat": {
															"type": "number"
														},
														"Lon": {
															"type": "number"
														}
													}
												}
											}
										},
										"mapUrl": {
											"type": "string"
										},
										"address": {
											"type": "string"
										},
										"title": {
											"type": "string"
										},
										"categories": {
											"type": "array",
											"items": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"categoryId": {
															"type": "string"
														},
														"engName": {
															"type": "null"
														},
														"label": {
															"type": "string"
														},
														"level": {
															"type": "integer"
														},
														"name": {
															"type": "string"
														}
													}
												}
											}
										},
										"description": {
											"type": "null"
										},
										"images": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"associatedTo": {
														"type": "string"
													},
													"imageKey": {
														"type": "string"
													}
												}
											}
										},
										"geoHierarchy": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"key": {
														"type": "string"
													},
													"name": {
														"type": "string"
													},
													"levelName": {
														"type": "string"
													},
													"levelKey": {
														"type": "string"
													},
													"level": {
														"type": "integer"
													}
												}
											}
										},
										"officialWebsite": {
											"type": "null"
										},
										"wikipediaLink": {
											"type": "null"
										},
										"phoneNumber": {
											"type": "null"
										},
										"affiliation": {
											"type": "object",
											"properties": {
												"bookable": {
													"type": "boolean"
												},
												"affiliationLinks": {
													"type": "array"
												}
											}
										},
										"placeType": {
											"type": "string"
										},
										"isHidden": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"videoShootingMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonthsList": {
									"type": "array"
								},
								"videoShootingMonthsList": {
									"type": "array"
								}
							}
						},
						"secondaryTips": {
							"type": "array"
						},
						"postId": {
							"type": "string"
						},
						"draftId": {
							"type": "string"
						},
						"keyId": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"caption": {
							"type": "string"
						},
						"creator": {
							"type": "object",
							"properties": {
								"avatarKey": {
									"type": "string"
								},
								"givenName": {
									"type": "string"
								},
								"surname": {
									"type": "string"
								},
								"displayName": {
									"type": "string"
								},
								"profileSlug": {
									"type": "string"
								},
								"isVerified": {
									"type": "boolean"
								},
								"isCertified": {
									"type": "boolean"
								}
							}
						},
						"originalLanguage": {
							"type": "object",
							"properties": {
								"languageId": {
									"type": "string"
								},
								"languageTag": {
									"type": "string"
								},
								"familyName": {
									"type": "string"
								}
							}
						},
						"video": {
							"type": "object",
							"properties": {
								"videoId": {
									"type": "string"
								},
								"eclexiaVideoId": {
									"type": "integer"
								},
								"videoGuid": {
									"type": "string"
								},
								"lengthInSeconds": {
									"type": "integer"
								},
								"selectedThumbnailUrl": {
									"type": "string"
								},
								"coverImageUrl": {
									"type": "string"
								},
								"shareImageUrl": {
									"type": "string"
								},
								"formats": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								},
								"formatsMP4": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"status": {
							"type": "object",
							"properties": {
								"isPrivate": {
									"type": "boolean"
								},
								"isDeleted": {
									"type": "boolean"
								},
								"isBanned": {
									"type": "boolean"
								},
								"bannedFor": {
									"type": "null"
								}
							}
						},
						"images": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ImageKey": {
										"type": "string"
									}
								}
							}
						},
						"styles": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"styleId": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"tags": {
							"type": "array"
						},
						"feedListIds": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"listNameId": {
										"type": "string"
									}
								}
							}
						},
						"ctCode": {
							"type": "string"
						},
						"publicationDate": {
							"type": "string"
						},
						"lastUpdate": {
							"type": "string"
						},
						"numberOfViews": {
							"type": "integer"
						},
						"numberOfLikes": {
							"type": "integer"
						},
						"numberOfBookmarks": {
							"type": "integer"
						},
						"numberOfShares": {
							"type": "integer"
						},
						"ranking": {
							"type": "number"
						}
					}
				},
				"typeProperties": {
					"collectionName": "Feed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_GeoLocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"geoId": {
							"type": "string"
						},
						"country": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"level": {
							"type": "integer"
						},
						"itaName": {
							"type": "string"
						},
						"geometryKey": {
							"type": "string"
						},
						"geonameKey": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"asciiName": {
							"type": "string"
						},
						"latitude": {
							"type": "number"
						},
						"longitude": {
							"type": "number"
						},
						"geometry": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"coordinates": {
									"type": "array",
									"items": {
										"type": "number"
									}
								}
							}
						},
						"featureClass": {
							"type": "string"
						},
						"featureCode": {
							"type": "string"
						},
						"cc2": {
							"type": "string"
						},
						"admin1": {
							"type": "string"
						},
						"admin2": {
							"type": "string"
						},
						"admin3": {
							"type": "string"
						},
						"admin4": {
							"type": "string"
						},
						"population": {
							"type": "integer"
						},
						"elevation": {
							"type": "integer"
						},
						"dem": {
							"type": "integer"
						},
						"timezone": {
							"type": "string"
						},
						"lastEdit": {
							"type": "string"
						},
						"srcCounter": {
							"type": "integer"
						},
						"alternateNames": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"translations": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"alternateNameId": {
										"type": "string"
									},
									"isoLanguage": {
										"type": "string"
									},
									"alternate": {
										"type": "string"
									},
									"isPreferred": {
										"type": "boolean"
									},
									"isShortName": {
										"type": "boolean"
									},
									"isColloquial": {
										"type": "boolean"
									},
									"isHistoric": {
										"type": "boolean"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "GeoLocation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Geometry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"type": {
							"type": "string"
						},
						"geometry": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"coordinates": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "array",
											"items": {
												"type": "number"
											}
										}
									}
								}
							}
						},
						"properties": {
							"type": "object",
							"properties": {
								"key": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"level_name": {
									"type": "string"
								},
								"level_key": {
									"type": "string"
								},
								"sub_areas": {
									"type": "array"
								},
								"level": {
									"type": "integer"
								}
							}
						},
						"area": {
							"type": "string"
						},
						"area_name": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "Geometry"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Media')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "Media"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Places')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Address": {
							"type": "string"
						},
						"Description": {
							"type": "null"
						},
						"Discriminator": {
							"type": "string"
						},
						"GooglePlaceId": {
							"type": "string"
						},
						"IsOfficial": {
							"type": "boolean"
						},
						"MapUrl": {
							"type": "string"
						},
						"OfficialWebsite": {
							"type": "null"
						},
						"PhoneNumber": {
							"type": "null"
						},
						"Thumbnail": {
							"type": "string"
						},
						"Title": {
							"type": "string"
						},
						"WikipediaLink": {
							"type": "null"
						},
						"Categories": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "string"
									},
									"EngName": {
										"type": "null"
									},
									"Label": {
										"type": "string"
									},
									"Level": {
										"type": "integer"
									},
									"Name": {
										"type": "string"
									}
								}
							}
						},
						"GeoHierarchy": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"key": {
										"type": "string"
									},
									"level": {
										"type": "integer"
									},
									"levelKey": {
										"type": "string"
									},
									"levelName": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"GeoLocation": {
							"type": "object",
							"properties": {
								"Type": {
									"type": "string"
								},
								"Coordinates": {
									"type": "object",
									"properties": {
										"Lat": {
											"type": "number"
										},
										"Lon": {
											"type": "number"
										}
									}
								}
							}
						},
						"GoogleCategories": {
							"type": "array"
						},
						"IsHidden": {
							"type": "boolean"
						},
						"PlaceType": {
							"type": "string"
						},
						"AffiliateLinks": {
							"type": "null"
						},
						"NearCities": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"distance": {
										"type": "number"
									},
									"featureCode": {
										"type": "string"
									},
									"locationKey": {
										"type": "string"
									},
									"locationName": {
										"type": "string"
									},
									"population": {
										"type": "integer"
									},
									"hierarchy": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"key": {
													"type": "string"
												},
												"level": {
													"type": "integer"
												},
												"levelKey": {
													"type": "string"
												},
												"levelName": {
													"type": "string"
												},
												"name": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						},
						"ShapesGeoHierarchy": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"key": {
										"type": "string"
									},
									"level": {
										"type": "integer"
									},
									"levelKey": {
										"type": "string"
									},
									"levelName": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Places"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Post')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Discriminator": {
							"type": "string"
						},
						"PlaceId": {
							"type": "string"
						},
						"DraftId": {
							"type": "null"
						},
						"Activities": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "string"
									},
									"EngName": {
										"type": "null"
									},
									"Label": {
										"type": "string"
									},
									"Level": {
										"type": "integer"
									},
									"Name": {
										"type": "string"
									}
								}
							}
						},
						"SuggestedMonths": {
							"type": "object",
							"properties": {
								"April": {
									"type": "boolean"
								},
								"August": {
									"type": "boolean"
								},
								"December": {
									"type": "boolean"
								},
								"Discriminator": {
									"type": "string"
								},
								"February": {
									"type": "boolean"
								},
								"January": {
									"type": "boolean"
								},
								"July": {
									"type": "boolean"
								},
								"June": {
									"type": "boolean"
								},
								"March": {
									"type": "boolean"
								},
								"May": {
									"type": "boolean"
								},
								"November": {
									"type": "boolean"
								},
								"October": {
									"type": "boolean"
								},
								"September": {
									"type": "boolean"
								}
							}
						},
						"Tags": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Tag": {
										"type": "string"
									}
								}
							}
						},
						"VideoShootingMonths": {
							"type": "object",
							"properties": {
								"April": {
									"type": "boolean"
								},
								"August": {
									"type": "boolean"
								},
								"December": {
									"type": "boolean"
								},
								"February": {
									"type": "boolean"
								},
								"January": {
									"type": "boolean"
								},
								"July": {
									"type": "boolean"
								},
								"June": {
									"type": "boolean"
								},
								"March": {
									"type": "boolean"
								},
								"May": {
									"type": "boolean"
								},
								"November": {
									"type": "boolean"
								},
								"October": {
									"type": "boolean"
								},
								"September": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Post"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_PostStat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"likeId": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"likeOwnerId": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"postId": {
							"type": "string"
						},
						"isDeleted": {
							"type": "boolean"
						},
						"createdAt": {
							"type": "string"
						},
						"updatedAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "string"
						},
						"numberOfViews": {
							"type": "integer"
						},
						"numberOfLikes": {
							"type": "integer"
						},
						"numberOfBookmarks": {
							"type": "integer"
						},
						"numberOfShares": {
							"type": "integer"
						},
						"bookmarkAlbums": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"bookmarkedPosts": {
										"type": "array"
									},
									"bookmarkAlbumId": {
										"type": "string"
									},
									"label": {
										"type": "string"
									},
									"createdAt": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "PostStat"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_UserInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"discriminator": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"profileDescription": {
							"type": "string"
						},
						"avatarKey": {
							"type": "string"
						},
						"profileSlug": {
							"type": "string"
						},
						"isVerified": {
							"type": "boolean"
						},
						"isCertified": {
							"type": "boolean"
						},
						"isBackofficeMade": {
							"type": "boolean"
						},
						"receivedLikesCount": {
							"type": "integer"
						},
						"followingCount": {
							"type": "integer"
						},
						"followerCount": {
							"type": "integer"
						},
						"hasSelectedInterests": {
							"type": "boolean"
						},
						"selectedInterests": {
							"type": "array"
						},
						"relatedThemes": {
							"type": "array"
						},
						"likedPosts": {
							"type": "array"
						},
						"bookmarkedPosts": {
							"type": "array"
						},
						"posts": {
							"type": "array"
						},
						"excludedPosts": {
							"type": "array"
						},
						"termsAndConditions": {
							"type": "null"
						},
						"thirdPartyMarketing": {
							"type": "null"
						},
						"userProfiling": {
							"type": "null"
						},
						"createdAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "null"
						},
						"userDevices": {
							"type": "array"
						}
					}
				},
				"typeProperties": {
					"collectionName": "UserInfo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "test",
						"fileSystem": "loganalytics"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Feed",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/log_analytics_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Rest_loganalytics",
					"type": "LinkedServiceReference",
					"parameters": {
						"WorkSpaceID": "@dataset().WorkspaceID"
					}
				},
				"parameters": {
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					}
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "query"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlyBronzeLogAnalytics')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Bronze_LogAnalytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"ClientSecret": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_ClientSecret')]",
							"ClientID": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_ClientID')]",
							"TenantID": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_TenantID')]",
							"WorkspaceID": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_WorkspaceID')]",
							"Table_Names": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_Table_Names')]",
							"end_time": "[parameters('HourlyBronzeLogAnalytics_properties_Bronze_LogAnalytics_parameters_end_time')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2022-05-13T18:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly_Playlist_Usage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Playlist_Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Playlist_Usage",
							"baseParameters": {
								"startDate": {
									"value": "@formatDateTime(addHours(pipeline().parameters.triggerTime,-12),'%Y-%m-%d %H:%M:%S')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@formatDateTime(addDays(addHours(pipeline().parameters.triggerTime,-12), -7), '%Y-%m-%d %H:%M:%S')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "2022-03-25 00:00:00"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Delta_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable EndTime",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "EndTime",
										"value": {
											"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set variable EndTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Bronze/Bronze Delta",
										"baseParameters": {
											"Table": {
												"value": "@variables('Table')",
												"type": "Expression"
											},
											"EndDate": {
												"value": "@variables('EndTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Trigger Silver Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Silver_Delta_CosmosDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"end_time": {
									"value": "@pipeline().parameters.end_time",
									"type": "Expression"
								},
								"Tables": {
									"value": "@pipeline().parameters.Tables",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-12 03:00:00"
					},
					"Tables": {
						"type": "array",
						"defaultValue": [
							"Post",
							"Geometry",
							"PostStat",
							"UserInfo",
							"Categories",
							"Places",
							"Feed",
							"GeoLocation"
						]
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					},
					"Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/CosmosDB/Delta"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-23T08:12:39Z"
			},
			"dependsOn": []
		}
	]
}