blinkoo-data-factory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		},
		"blinkoorepo_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blinkoorepo'"
		},
		"test_blinkoo_gold_connection_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'test_blinkoo_gold_connection'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blinkoorepo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('blinkoorepo_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_blinkoo_gold_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "First test connection between azure data factory and the blinkoo's gold layer.",
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-673365400340149.9.azuredatabricks.net",
					"clusterId": "0304-092528-p5078pvj",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('test_blinkoo_gold_connection_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WeeklyCosmosDB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2022-07-07T03:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							],
							"weekDays": [
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManagedVirtualNetworkIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blinkoin_assignment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Rewarding_algorithm",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set Variable End Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/RewardingSystem/Coin_algorithm_v2",
							"baseParameters": {
								"endDate": {
									"value": "@variables('endDate')",
									"type": "Expression"
								},
								"startDate": {
									"value": "@variables('startDate')",
									"type": "Expression"
								},
								"BookedWeight": "30",
								"DetailedWeight": "15",
								"LikedWeight": "20",
								"MappedWeight": "18",
								"BookmarkedWeight": "50",
								"SharedWeight": "100",
								"ViewWeight": "1.5",
								"Tau": "10",
								"TopCreators": "10",
								"MidCreators": "50",
								"BottomCreators": "100",
								"TopCreatorsRatio": "30",
								"MidCreatorsRatio": "40",
								"BottomCreatorsRatio": "30",
								"TotalCoin": "125000",
								"firstRoundPercentage": "20",
								"secondRoundPercentage": "80",
								"postTableName": "by_post_rewarding_",
								"userTableName": "by_user_rewarding_"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Variable Start Date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startDate",
							"value": {
								"value": "@concat(formatDateTime(addDays(pipeline().parameters.triggerTime,-7),'yyyy-MM-dd'), ' ', '00:00:00')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Variable End Date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Variable Start Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "endDate",
							"value": {
								"value": "@concat(formatDateTime(addHours(pipeline().parameters.triggerTime,-7),'yyyy-MM-dd'), ' ', '23:59:59')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "@trigger().startTime"
					}
				},
				"variables": {
					"startDate": {
						"type": "String"
					},
					"endDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Full_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set variable EndTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Bronze/Bronze Full",
							"baseParameters": {
								"StartDate": {
									"value": "@variables('StartTime')",
									"type": "Expression"
								},
								"EndDate": {
									"value": "@variables('EndTime')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable StartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@{div(sub(ticks(pipeline().parameters.start_time), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable EndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable StartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndTime",
							"value": {
								"value": "@{div(sub(ticks(pipeline().parameters.end_time), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"start_time": {
						"type": "string",
						"defaultValue": "2020-01-01 00:00:00"
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-11 00:00:00"
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"EndTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/CosmosDB/Full"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-23T08:12:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set End Date Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Bronze ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Bronze/LogAnalytics",
										"baseParameters": {
											"EndDate": {
												"value": "@variables('end_date')",
												"type": "Expression"
											},
											"Table": {
												"value": "@variables('table')",
												"type": "Expression"
											},
											"Token": {
												"value": "@variables('token')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(empty(variables('token')),\n    greaterOrEquals(add(int(variables('token_expires_on')),1200), div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "getBearerToken",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
														"type": "Expression"
													},
													"method": "POST",
													"headers": {
														"Content-Type": "application/x-www-form-urlencoded"
													},
													"body": {
														"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Token Variable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "getBearerToken",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "token",
													"value": {
														"value": "@activity('getBearerToken').output.access_token",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Expires On Variable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set Token Variable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "token_expires_on",
													"value": {
														"value": "@activity('getBearerToken').output.expires_on",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Set End Date Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_date",
							"value": {
								"value": "@formatDateTime(addHours(pipeline().parameters.end_time,-2),'yyyy-MM-dd, HH:00:00')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "glI8Q~fY~zGHvyTue4j826wiL9x.hVADCqkPUbJH"
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "e2c3de32-f621-4fa2-9bf7-344551917b7b"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies",
							"AppEvents",
							"AppExceptions",
							"AppMetrics",
							"AppPageViews",
							"AppPerformanceCounters",
							"AppRequests",
							"AppSystemEvents",
							"AppTraces",
							"Usage"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-04 11:00:00"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"token_expires_on": {
						"type": "String"
					}
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T10:39:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Silver_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Silver/SqlBronzeToSilver",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"place_tip"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Daily"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:58:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Silver_SqlServer_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Silver/SqlBronzeToSilver_dev",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"place_tip"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Daily"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:58:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Silver_Update_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/0 CosmosDB Update/1 Silver",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"FeedList",
							"PostStat",
							"UserInfo",
							"Feed"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Daily"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:58:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Silver_Update_CosmosDB_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/0 CosmosDB Update/1 Silver_dev",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"FeedList",
							"PostStat",
							"UserInfo",
							"Feed"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Daily"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:58:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KPI_Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Coin Monthly",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/enrico.sartor@blinkoo.com/badges_lite",
							"baseParameters": {
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"interval": "7",
								"timeback": "30",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"postTableName": {
									"value": "by_post_",
									"type": "Expression"
								},
								"userTableName": {
									"value": "by_user_",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Standard",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Coin Weekly",
								"dependencyConditions": [
									"Failed",
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/KPI_standard",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Search Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Standard",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/Search",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								},
								"interval": "7",
								"searchedWords": "False"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Feature Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI User info",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_featureusage",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI User info",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Search Usage",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_userinfo",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI User Performing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Feature Usage",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_userperforming",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Coin Bi-Weekly",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Coin Monthly",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/enrico.sartor@blinkoo.com/badges_lite",
							"baseParameters": {
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"interval": "7",
								"timeback": "14",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"postTableName": {
									"value": "by_post_bi_weekly_",
									"type": "Expression"
								},
								"userTableName": {
									"value": "by_user_bi_weekly_",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Coin Weekly",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Coin Bi-Weekly",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/enrico.sartor@blinkoo.com/badges_lite",
							"baseParameters": {
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"interval": "7",
								"timeback": "7",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"postTableName": {
									"value": "by_post_weekly_",
									"type": "Expression"
								},
								"userTableName": {
									"value": "by_user_weekly_",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Playlist Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI User Performing",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/Playlist_Usage",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@formatDateTime(addDays(addHours(pipeline().parameters.triggerTime,-6), -7),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(addHours(pipeline().parameters.triggerTime,-6),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "In app Times",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Playlist Usage",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Silver/In_app_time_spent",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Post publication",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "In app Times",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Silver/posts_publication",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "@trigger().startTime"
					},
					"testNumber": {
						"type": "string",
						"defaultValue": "@trigger().parameters.testNumber"
					},
					"isTest": {
						"type": "string",
						"defaultValue": "@trigger().parameters.isTest"
					},
					"receiver": {
						"type": "string",
						"defaultValue": "riccardo.perelli@blinkoo.com"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Post_interactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PostInteractions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/Post Interactions/Interactions Daily",
							"baseParameters": {
								"StartAt": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"EndAt": {
									"value": "@variables('end_time')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@concat(formatDateTime(pipeline().parameters.endTime,'yyyy-MM-dd'), ' ', '00:00:00')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(pipeline().parameters.endTime)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "2023-12-07 03:00:00"
					},
					"endTime": {
						"type": "string"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Search_Analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Search_Exploration",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/Search_Exploration",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@concat(formatDateTime(pipeline().parameters.endTime,'yyyy-MM-dd'), ' ', '00:00:00')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(pipeline().parameters.endTime)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "2023-12-07 03:00:00"
					},
					"endTime": {
						"type": "string"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Delta_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable EndTime",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "EndTime",
										"value": {
											"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set variable EndTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Silver/Silver Delta",
										"baseParameters": {
											"Table": {
												"value": "@variables('Table')",
												"type": "Expression"
											},
											"EndDate": {
												"value": "@variables('EndTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-12 03:00:00"
					},
					"Tables": {
						"type": "array",
						"defaultValue": [
							"Post",
							"Geometry",
							"PostStat",
							"UserInfo",
							"Categories",
							"Places",
							"Feed",
							"GeoLocation"
						]
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					},
					"Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/CosmosDB/Delta"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-23T08:12:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable StartTime",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "StartTime",
										"value": {
											"value": "@{div(sub(ticks(pipeline().parameters.start_time), ticks('1970-01-01')),10000000)}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable EndTime",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable StartTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "EndTime",
										"value": {
											"value": "@{div(sub(ticks(pipeline().parameters.end_time), ticks('1970-01-01')),10000000)}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Silver Full ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set variable EndTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/0 CosmosDB Update/Silver Full",
										"baseParameters": {
											"StartDate": {
												"value": "@variables('StartTime')",
												"type": "Expression"
											},
											"EndDate": {
												"value": "@variables('EndTime')",
												"type": "Expression"
											},
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"start_time": {
						"type": "string",
						"defaultValue": "2000-01-01 00:00:00"
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-30 00:00:00"
					},
					"tables": {
						"type": "array",
						"defaultValue": [
							"FeedList",
							"Post",
							"Geometry",
							"PostStat",
							"UserInfo",
							"Categories",
							"Places",
							"Feed",
							"GeoLocation"
						]
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"EndTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Cosmos DB"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-01T10:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Full_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set variable EndTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Silver/Silver Full",
							"baseParameters": {
								"StartDate": {
									"value": "@variables('StartTime')",
									"type": "Expression"
								},
								"EndDate": {
									"value": "@variables('EndTime')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable StartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@{div(sub(ticks(pipeline().parameters.start_time), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable EndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable StartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndTime",
							"value": {
								"value": "@{div(sub(ticks(pipeline().parameters.end_time), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"start_time": {
						"type": "string",
						"defaultValue": "2000-01-01 00:00:00"
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-11 00:00:00"
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"EndTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/CosmosDB/Full"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-23T08:12:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Full_LogAnalytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.TableNames",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Variable Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set Variable Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/LogAnalytics/Full",
										"baseParameters": {
											"Table": {
												"value": "@variables('Table')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"TableNames": {
						"type": "array",
						"defaultValue": [
							"AppDependencies",
							"AppEvents",
							"AppExceptions",
							"AppMetrics",
							"AppPageViews",
							"AppPerformanceCounters",
							"AppRequests",
							"AppSystemEvents",
							"AppTraces",
							"Usage"
						]
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					},
					"Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/Log Analytics"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T06:02:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_feed_list')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "User FeedList Prod",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User FeedList/FeedList",
							"baseParameters": {
								"OperationType": {
									"value": "@pipeline().parameters.OperationType",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "User FeedList Dev",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "To Service Bus Queue Prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User FeedList/FeedList_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "To Service Bus Queue Prod",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "User FeedList Prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User FeedList/ToServiceBusQueue"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "To Service Bus Queue Dev",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "User FeedList Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User FeedList/ToServiceBusQueue_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"OperationType": {
						"type": "string",
						"defaultValue": "daily"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_info_ext')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "user_info_ext_notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Silver/Weekly_user_accesses"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "@trigger().startTime"
					}
				},
				"variables": {
					"startDate": {
						"type": "String"
					},
					"endDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}