blinkoo-data-factory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(addHours(pipeline().parameters.end_time,-2),'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/getLogAnalyticsData",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies",
							"AppEvents",
							"AppExceptions",
							"AppMetrics",
							"AppPageViews",
							"AppPerformanceCounters",
							"AppRequests",
							"AppSystemEvents",
							"AppTraces",
							"Usage"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-04 11:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T10:39:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_003105_0106')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-01 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-05-31 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0106_0206')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-02 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-01 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0107_0207')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-02 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-07-01 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T13:04:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0206_0306')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-03 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-02 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0207_0307')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-03 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-07-02 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T13:04:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0306_0406')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-04 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-03 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0307_0407')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-04 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-07-03 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T13:04:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0406_0506')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-05 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-04 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0506_0606')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-06 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-05 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0606_0706')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-07 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-06 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0706_0806')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-08 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-07 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0806_0906')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-09 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-08 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_0906_1006')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-10 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-09 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:44:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1006_1106')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-11 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-10 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1106_1206')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-12 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-11 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1206_1306')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-13 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-12 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1306_1406')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-14 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-13 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1406_1506')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-15 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-14 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1506_1606')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-16 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-15 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		}
	]
}