blinkoo-data-factory/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sink_PostStat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PostStat",
						"folderPath": "PostStat",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_UserInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "UserInfo",
						"folderPath": "UserInfo",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_efo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Draft"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"discriminator": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"profileDescription": {
							"type": "string"
						},
						"avatarKey": {
							"type": "string"
						},
						"profileSlug": {
							"type": "string"
						},
						"isVerified": {
							"type": "boolean"
						},
						"isCertified": {
							"type": "boolean"
						},
						"isBackofficeMade": {
							"type": "boolean"
						},
						"receivedLikesCount": {
							"type": "integer"
						},
						"followingCount": {
							"type": "integer"
						},
						"followerCount": {
							"type": "integer"
						},
						"hasSelectedInterests": {
							"type": "boolean"
						},
						"selectedInterests": {
							"type": "array"
						},
						"relatedThemes": {
							"type": "array"
						},
						"likedPosts": {
							"type": "array"
						},
						"bookmarkedPosts": {
							"type": "array"
						},
						"posts": {
							"type": "array"
						},
						"excludedPosts": {
							"type": "array"
						},
						"termsAndConditions": {
							"type": "null"
						},
						"thirdPartyMarketing": {
							"type": "null"
						},
						"userProfiling": {
							"type": "null"
						},
						"createdAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "null"
						},
						"userDevices": {
							"type": "array"
						}
					}
				},
				"typeProperties": {
					"collectionName": "UserInfo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Discriminator": {
							"type": "string"
						},
						"CategoryId": {
							"type": "string"
						},
						"Name": {
							"type": "string"
						},
						"EngName": {
							"type": "null"
						},
						"Label": {
							"type": "string"
						},
						"Level": {
							"type": "integer"
						},
						"ParentCategories": {
							"type": "array"
						},
						"ChildCategories": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ChildCategoryId": {
										"type": "string"
									},
									"Label": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Categories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"postType": {
							"type": "string"
						},
						"primaryTip": {
							"type": "object",
							"properties": {
								"tipId": {
									"type": "string"
								},
								"activities": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"categoryId": {
													"type": "string"
												},
												"engName": {
													"type": "null"
												},
												"label": {
													"type": "string"
												},
												"level": {
													"type": "integer"
												},
												"name": {
													"type": "string"
												}
											}
										}
									}
								},
								"tags": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											}
										}
									}
								},
								"content": {
									"type": "object",
									"properties": {
										"placeId": {
											"type": "string"
										},
										"geoLocation": {
											"type": "object",
											"properties": {
												"Type": {
													"type": "string"
												},
												"Coordinates": {
													"type": "object",
													"properties": {
														"Lat": {
															"type": "number"
														},
														"Lon": {
															"type": "number"
														}
													}
												}
											}
										},
										"mapUrl": {
											"type": "string"
										},
										"address": {
											"type": "string"
										},
										"title": {
											"type": "string"
										},
										"categories": {
											"type": "array",
											"items": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"categoryId": {
															"type": "string"
														},
														"engName": {
															"type": "null"
														},
														"label": {
															"type": "string"
														},
														"level": {
															"type": "integer"
														},
														"name": {
															"type": "string"
														}
													}
												}
											}
										},
										"description": {
											"type": "null"
										},
										"images": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"associatedTo": {
														"type": "string"
													},
													"imageKey": {
														"type": "string"
													}
												}
											}
										},
										"geoHierarchy": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"key": {
														"type": "string"
													},
													"name": {
														"type": "string"
													},
													"levelName": {
														"type": "string"
													},
													"levelKey": {
														"type": "string"
													},
													"level": {
														"type": "integer"
													}
												}
											}
										},
										"officialWebsite": {
											"type": "null"
										},
										"wikipediaLink": {
											"type": "null"
										},
										"phoneNumber": {
											"type": "null"
										},
										"affiliation": {
											"type": "object",
											"properties": {
												"bookable": {
													"type": "boolean"
												},
												"affiliationLinks": {
													"type": "array"
												}
											}
										},
										"placeType": {
											"type": "string"
										},
										"isHidden": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"videoShootingMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonthsList": {
									"type": "array"
								},
								"videoShootingMonthsList": {
									"type": "array"
								}
							}
						},
						"secondaryTips": {
							"type": "array"
						},
						"postId": {
							"type": "string"
						},
						"draftId": {
							"type": "string"
						},
						"keyId": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"caption": {
							"type": "string"
						},
						"creator": {
							"type": "object",
							"properties": {
								"avatarKey": {
									"type": "string"
								},
								"givenName": {
									"type": "string"
								},
								"surname": {
									"type": "string"
								},
								"displayName": {
									"type": "string"
								},
								"profileSlug": {
									"type": "string"
								},
								"isVerified": {
									"type": "boolean"
								},
								"isCertified": {
									"type": "boolean"
								}
							}
						},
						"originalLanguage": {
							"type": "object",
							"properties": {
								"languageId": {
									"type": "string"
								},
								"languageTag": {
									"type": "string"
								},
								"familyName": {
									"type": "string"
								}
							}
						},
						"video": {
							"type": "object",
							"properties": {
								"videoId": {
									"type": "string"
								},
								"eclexiaVideoId": {
									"type": "integer"
								},
								"videoGuid": {
									"type": "string"
								},
								"lengthInSeconds": {
									"type": "integer"
								},
								"selectedThumbnailUrl": {
									"type": "string"
								},
								"coverImageUrl": {
									"type": "string"
								},
								"shareImageUrl": {
									"type": "string"
								},
								"formats": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								},
								"formatsMP4": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"status": {
							"type": "object",
							"properties": {
								"isPrivate": {
									"type": "boolean"
								},
								"isDeleted": {
									"type": "boolean"
								},
								"isBanned": {
									"type": "boolean"
								},
								"bannedFor": {
									"type": "null"
								}
							}
						},
						"images": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ImageKey": {
										"type": "string"
									}
								}
							}
						},
						"styles": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"styleId": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"tags": {
							"type": "array"
						},
						"feedListIds": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"listNameId": {
										"type": "string"
									}
								}
							}
						},
						"ctCode": {
							"type": "string"
						},
						"publicationDate": {
							"type": "string"
						},
						"lastUpdate": {
							"type": "string"
						},
						"numberOfViews": {
							"type": "integer"
						},
						"numberOfLikes": {
							"type": "integer"
						},
						"numberOfBookmarks": {
							"type": "integer"
						},
						"numberOfShares": {
							"type": "integer"
						},
						"ranking": {
							"type": "number"
						}
					}
				},
				"typeProperties": {
					"collectionName": "Feed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_GeoLocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"geoId": {
							"type": "string"
						},
						"country": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"level": {
							"type": "integer"
						},
						"itaName": {
							"type": "string"
						},
						"geometryKey": {
							"type": "string"
						},
						"geonameKey": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"asciiName": {
							"type": "string"
						},
						"latitude": {
							"type": "number"
						},
						"longitude": {
							"type": "number"
						},
						"geometry": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"coordinates": {
									"type": "array",
									"items": {
										"type": "number"
									}
								}
							}
						},
						"featureClass": {
							"type": "string"
						},
						"featureCode": {
							"type": "string"
						},
						"cc2": {
							"type": "string"
						},
						"admin1": {
							"type": "string"
						},
						"admin2": {
							"type": "string"
						},
						"admin3": {
							"type": "string"
						},
						"admin4": {
							"type": "string"
						},
						"population": {
							"type": "integer"
						},
						"elevation": {
							"type": "integer"
						},
						"dem": {
							"type": "integer"
						},
						"timezone": {
							"type": "string"
						},
						"lastEdit": {
							"type": "string"
						},
						"srcCounter": {
							"type": "integer"
						},
						"alternateNames": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"translations": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"alternateNameId": {
										"type": "string"
									},
									"isoLanguage": {
										"type": "string"
									},
									"alternate": {
										"type": "string"
									},
									"isPreferred": {
										"type": "boolean"
									},
									"isShortName": {
										"type": "boolean"
									},
									"isColloquial": {
										"type": "boolean"
									},
									"isHistoric": {
										"type": "boolean"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "GeoLocation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Geometry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"type": {
							"type": "string"
						},
						"geometry": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"coordinates": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "array",
											"items": {
												"type": "number"
											}
										}
									}
								}
							}
						},
						"properties": {
							"type": "object",
							"properties": {
								"key": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"level_name": {
									"type": "string"
								},
								"level_key": {
									"type": "string"
								},
								"sub_areas": {
									"type": "array"
								},
								"level": {
									"type": "integer"
								}
							}
						},
						"area": {
							"type": "string"
						},
						"area_name": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "Geometry"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Media')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "Media"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Post')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Discriminator": {
							"type": "string"
						},
						"PlaceId": {
							"type": "string"
						},
						"DraftId": {
							"type": "null"
						},
						"Activities": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "string"
									},
									"EngName": {
										"type": "null"
									},
									"Label": {
										"type": "string"
									},
									"Level": {
										"type": "integer"
									},
									"Name": {
										"type": "string"
									}
								}
							}
						},
						"SuggestedMonths": {
							"type": "object",
							"properties": {
								"April": {
									"type": "boolean"
								},
								"August": {
									"type": "boolean"
								},
								"December": {
									"type": "boolean"
								},
								"Discriminator": {
									"type": "string"
								},
								"February": {
									"type": "boolean"
								},
								"January": {
									"type": "boolean"
								},
								"July": {
									"type": "boolean"
								},
								"June": {
									"type": "boolean"
								},
								"March": {
									"type": "boolean"
								},
								"May": {
									"type": "boolean"
								},
								"November": {
									"type": "boolean"
								},
								"October": {
									"type": "boolean"
								},
								"September": {
									"type": "boolean"
								}
							}
						},
						"Tags": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Tag": {
										"type": "string"
									}
								}
							}
						},
						"VideoShootingMonths": {
							"type": "object",
							"properties": {
								"April": {
									"type": "boolean"
								},
								"August": {
									"type": "boolean"
								},
								"December": {
									"type": "boolean"
								},
								"February": {
									"type": "boolean"
								},
								"January": {
									"type": "boolean"
								},
								"July": {
									"type": "boolean"
								},
								"June": {
									"type": "boolean"
								},
								"March": {
									"type": "boolean"
								},
								"May": {
									"type": "boolean"
								},
								"November": {
									"type": "boolean"
								},
								"October": {
									"type": "boolean"
								},
								"September": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Post"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_PostStat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"likeId": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"likeOwnerId": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"postId": {
							"type": "string"
						},
						"isDeleted": {
							"type": "boolean"
						},
						"createdAt": {
							"type": "string"
						},
						"updatedAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "string"
						},
						"numberOfViews": {
							"type": "integer"
						},
						"numberOfLikes": {
							"type": "integer"
						},
						"numberOfBookmarks": {
							"type": "integer"
						},
						"numberOfShares": {
							"type": "integer"
						},
						"bookmarkAlbums": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"bookmarkedPosts": {
										"type": "array"
									},
									"bookmarkAlbumId": {
										"type": "string"
									},
									"label": {
										"type": "string"
									},
									"createdAt": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "PostStat"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_UserInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"discriminator": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"profileDescription": {
							"type": "string"
						},
						"avatarKey": {
							"type": "string"
						},
						"profileSlug": {
							"type": "string"
						},
						"isVerified": {
							"type": "boolean"
						},
						"isCertified": {
							"type": "boolean"
						},
						"isBackofficeMade": {
							"type": "boolean"
						},
						"receivedLikesCount": {
							"type": "integer"
						},
						"followingCount": {
							"type": "integer"
						},
						"followerCount": {
							"type": "integer"
						},
						"hasSelectedInterests": {
							"type": "boolean"
						},
						"selectedInterests": {
							"type": "array"
						},
						"relatedThemes": {
							"type": "array"
						},
						"likedPosts": {
							"type": "array"
						},
						"bookmarkedPosts": {
							"type": "array"
						},
						"posts": {
							"type": "array"
						},
						"excludedPosts": {
							"type": "array"
						},
						"termsAndConditions": {
							"type": "null"
						},
						"thirdPartyMarketing": {
							"type": "null"
						},
						"userProfiling": {
							"type": "null"
						},
						"createdAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "null"
						},
						"userDevices": {
							"type": "array"
						}
					}
				},
				"typeProperties": {
					"collectionName": "UserInfo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "test",
						"fileSystem": "loganalytics"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Feed",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/log_analytics_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Rest_loganalytics",
					"type": "LinkedServiceReference",
					"parameters": {
						"WorkSpaceID": "@dataset().WorkspaceID"
					}
				},
				"parameters": {
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					}
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "query"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_blinkoo_gold_delta_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "test_blinkoo_gold_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "blinkoo_gold",
					"table": "kpi_featureusage"
				},
				"schema": [
					{
						"name": "metricName",
						"type": "string"
					},
					{
						"name": "nUsers",
						"type": "double"
					},
					{
						"name": "nOfSessionsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionTimeInSecondsWeek",
						"type": "double"
					},
					{
						"name": "longestSessionInSecondsWeek",
						"type": "double"
					},
					{
						"name": "meanSessionInSecondsWeek",
						"type": "double"
					},
					{
						"name": "medianSessionInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnFeedInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnNewFeedInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnSearchInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnPostDetailInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnPlaylistInSecondsWeek",
						"type": "double"
					},
					{
						"name": "totalSessionOnCreatorProfileInSecondsWeek",
						"type": "double"
					},
					{
						"name": "medianNOfVideoPerSessionWeek",
						"type": "double"
					},
					{
						"name": "nLikeWeek",
						"type": "double"
					},
					{
						"name": "nBookmarkWeek",
						"type": "double"
					},
					{
						"name": "nUnbookmarkWeek",
						"type": "double"
					},
					{
						"name": "nBookWeek",
						"type": "double"
					},
					{
						"name": "nSharesWeek",
						"type": "double"
					},
					{
						"name": "nDetailOpeningsWeek",
						"type": "double"
					},
					{
						"name": "nContributorProfileOpeningsWeek",
						"type": "double"
					},
					{
						"name": "nMapOpeningsWeek",
						"type": "double"
					},
					{
						"name": "nPlaylistOpeningsWeek",
						"type": "double"
					},
					{
						"name": "nTagClickAndFeedScrollWeek",
						"type": "double"
					},
					{
						"name": "nViewsWeek",
						"type": "double"
					},
					{
						"name": "nSkipsWeek",
						"type": "double"
					},
					{
						"name": "nWordsSearchedWeek",
						"type": "double"
					},
					{
						"name": "updatedAt",
						"type": "timestamp"
					},
					{
						"name": "from",
						"type": "timestamp"
					},
					{
						"name": "to",
						"type": "timestamp"
					},
					{
						"name": "dayOfWeek",
						"type": "integer"
					},
					{
						"name": "weekOfYear",
						"type": "integer"
					},
					{
						"name": "Year",
						"type": "integer"
					},
					{
						"name": "Month",
						"type": "integer"
					},
					{
						"name": "Day",
						"type": "integer"
					},
					{
						"name": "repoWeek",
						"type": "integer"
					},
					{
						"name": "displayName",
						"type": "string"
					},
					{
						"name": "Timestamp",
						"type": "timestamp"
					},
					{
						"name": "searchedWord",
						"type": "string"
					},
					{
						"name": "nResults",
						"type": "integer"
					},
					{
						"name": "tagSelected",
						"type": "string"
					},
					{
						"name": "nTagsOn",
						"type": "integer"
					},
					{
						"name": "tagsOn",
						"type": "string"
					},
					{
						"name": "sourceOfSelection",
						"type": "string"
					},
					{
						"name": "Success",
						"type": "integer"
					},
					{
						"name": "tagName",
						"type": "string"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_delimited_text_kpi_featureusage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "KPI",
						"fileSystem": "testCopyActivity"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\r",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_Amadeus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set End Date Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Bronze ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Bronze/LogAnalytics_Global",
										"baseParameters": {
											"EndDate": {
												"value": "@variables('end_date')",
												"type": "Expression"
											},
											"Table": {
												"value": "@variables('table')",
												"type": "Expression"
											},
											"Token": {
												"value": "@variables('token')",
												"type": "Expression"
											},
											"LogAnalyticsWorkspaceId": {
												"value": "@variables('LogAnalyticsWorkspaceId')",
												"type": "Expression"
											},
											"CustomerName": {
												"value": "@variables('CustomerName')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(empty(variables('token')),\n    greaterOrEquals(\n        add(\n            div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)\n            ,1200\n        ),\n        int(variables('token_expires_on'))\n    )\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "getBearerToken",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/x-www-form-urlencoded"
													},
													"url": {
														"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
														"type": "Expression"
													},
													"body": {
														"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Token Variable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "getBearerToken",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "token",
													"value": {
														"value": "@activity('getBearerToken').output.access_token",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Expires On Variable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set Token Variable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "token_expires_on",
													"value": {
														"value": "@activity('getBearerToken').output.expires_on",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Set End Date Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_date",
							"value": {
								"value": "@formatDateTime(addHours(pipeline().parameters.EndTime,-2),'yyyy-MM-dd, HH:00:00')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "y958Q~tu-RcM_pZVDnflzgki4iRDt8OEEa7KVaYk"
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "e2c3de32-f621-4fa2-9bf7-344551917b7b"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppEvents",
							"AppMetrics",
							"Usage"
						]
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"EndTime": {
						"type": "string",
						"defaultValue": "2025-01-19 17:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"token_expires_on": {
						"type": "String"
					},
					"LogAnalyticsWorkspaceId": {
						"type": "String",
						"defaultValue": "c70d3da5-86b0-422d-9938-9b68691e5aeb"
					},
					"CustomerName": {
						"type": "String",
						"defaultValue": "Amadues"
					}
				},
				"folder": {
					"name": "LogAnalytics"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T10:39:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Delta_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable Table",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable EndTime",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "EndTime",
										"value": {
											"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set variable EndTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/CosmosDB/Bronze/Bronze Delta",
										"baseParameters": {
											"Table": {
												"value": "@variables('Table')",
												"type": "Expression"
											},
											"EndDate": {
												"value": "@variables('EndTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Trigger Silver Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Silver_Delta_CosmosDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"end_time": {
									"value": "@pipeline().parameters.end_time",
									"type": "Expression"
								},
								"Tables": {
									"value": "@pipeline().parameters.Tables",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"end_time": {
						"type": "string",
						"defaultValue": "2022-05-12 03:00:00"
					},
					"Tables": {
						"type": "array",
						"defaultValue": [
							"Post",
							"Geometry",
							"PostStat",
							"UserInfo",
							"Categories",
							"Places",
							"Feed",
							"GeoLocation"
						]
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					},
					"Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Dev/Draft/CosmosDB/Delta"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-23T08:12:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Bronze_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Bronze ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Set end_time in timestamp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Bronze/SqlBronze",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											},
											"EndDate": {
												"value": "@variables('EndTime')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set end_time in timestamp",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "EndTime",
										"value": {
											"value": "@{div(sub(ticks(addHours(pipeline().parameters.end_time,-3)), ticks('1970-01-01')),10000000)}\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Execute Silver Update Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Daily_Silver_SqlServer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Tables": {
									"value": "@pipeline().parameters.Tables",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"place_tip",
							"categories",
							"geo_location",
							"places",
							"drafts"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-24 04:00:00"
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Cosmos DB/Daily"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T05:03:08Z"
			},
			"dependsOn": []
		}
	]
}