blinkoo-data-factory/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/User_info_ext_pre_processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Time spent in app",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Silver/In_app_time_spent",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": "False"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@concat(formatDateTime(pipeline().parameters.endTime,'yyyy-MM-dd'), ' ', '00:00:00')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(pipeline().parameters.endTime)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "2023-12-07 03:00:00"
					},
					"endTime": {
						"type": "string"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_preferences')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "User Preferences Prod",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User Preferences/Preferences"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "User Preferences Dev",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "To SQL Server Prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User Preferences/Preferences_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "To SQL Server Prod",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "User Preferences Prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniele.sarnari@blinkoo.com/User Preferences/ToSQLServer"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly_Silver_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/riccardo.perelli@blinkoo.com/Pipelines/Silver/SqlBronzeToSilver",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"categories",
							"geo_location",
							"places"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Weekly"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:59:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly_Silver_Update_CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tables",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Silver Update ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/elnur.garashov@porini.it/elnur.garashov/0 CosmosDB Update/1 Silver",
										"baseParameters": {
											"Table": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Tables": {
						"type": "array",
						"defaultValue": [
							"Categories"
						]
					}
				},
				"folder": {
					"name": "Cosmos DB/Weekly"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T04:59:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/full_KPI_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PreDeepSession",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set End time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/DeepSession/Pre - DeepSession - Test",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								}
							},
							"libraries": [
								{
									"pypi": {
										"package": "pandas==1.4.0"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Deep session",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "PreDeepSession",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/DeepSession/DeepSession - Test",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Standard",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Deep session",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/KPI_standard",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Search Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Standard",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/Search",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								},
								"interval": "7",
								"searchedWords": "False"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Feature Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI User info",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_featureusage",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI User info",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Search Usage",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_userinfo",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI User Performing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI Feature Usage",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/FeatureUsage_+_UserInfo_+_Performing",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7",
								"extractionName": "kpi_userperforming",
								"isTest": {
									"value": "@pipeline().parameters.isTest",
									"type": "Expression"
								},
								"testNumber": {
									"value": "@pipeline().parameters.testNumber",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "KPI Playlist Usage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "KPI User Performing",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "KPI Standard",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Deep session",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/riccardo.perelli@blinkoo.com/KPI/Playlist_Usage",
							"baseParameters": {
								"startDate": {
									"value": "@variables('start_time')",
									"type": "Expression"
								},
								"endDate": {
									"value": "@variables('end_time')",
									"type": "Expression"
								},
								"interval": "7"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@formatDateTime(addDays(addHours(pipeline().parameters.triggerTime,-6), -7),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set End time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(addHours(pipeline().parameters.triggerTime,-6),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerTime": {
						"type": "string",
						"defaultValue": "@trigger().startTime"
					},
					"testNumber": {
						"type": "string",
						"defaultValue": "@trigger().parameters.testNumber"
					},
					"isTest": {
						"type": "string",
						"defaultValue": "@trigger().parameters.isTest"
					},
					"receiver": {
						"type": "string",
						"defaultValue": "riccardo.perelli@blinkoo.com"
					}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					}
				},
				"folder": {
					"name": "KPIs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"entityname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": {
						"value": "@dataset().entityname",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_efo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Draft"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "users",
						"fileSystem": "users"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Categories",
						"folderPath": "Categories",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Feed_delta",
						"folderPath": "Feed",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_GeoLocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "GeoLocation",
						"folderPath": "GeoLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Geometry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Geometry",
						"folderPath": "Geometry",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Media')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Media",
						"folderPath": "Media",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Places')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Places",
						"folderPath": "Places",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Post')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Post",
						"folderPath": "Post",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_PostStat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PostStat",
						"folderPath": "PostStat",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "geometry_type",
						"type": "UTF8"
					},
					{
						"name": "geometry_coordinates",
						"type": "UTF8"
					},
					{
						"name": "key",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "level_name",
						"type": "UTF8"
					},
					{
						"name": "level_key",
						"type": "UTF8"
					},
					{
						"name": "level",
						"type": "INT64"
					},
					{
						"name": "properties_sub_areas",
						"type": "UTF8"
					},
					{
						"name": "area",
						"type": "UTF8"
					},
					{
						"name": "area_name",
						"type": "UTF8"
					},
					{
						"name": "_rid",
						"type": "UTF8"
					},
					{
						"name": "_self",
						"type": "UTF8"
					},
					{
						"name": "_etag",
						"type": "UTF8"
					},
					{
						"name": "_attachments",
						"type": "UTF8"
					},
					{
						"name": "_ts",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_UserInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "UserInfo",
						"folderPath": "UserInfo",
						"fileSystem": "bronze"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_efo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Draft"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"discriminator": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"profileDescription": {
							"type": "string"
						},
						"avatarKey": {
							"type": "string"
						},
						"profileSlug": {
							"type": "string"
						},
						"isVerified": {
							"type": "boolean"
						},
						"isCertified": {
							"type": "boolean"
						},
						"isBackofficeMade": {
							"type": "boolean"
						},
						"receivedLikesCount": {
							"type": "integer"
						},
						"followingCount": {
							"type": "integer"
						},
						"followerCount": {
							"type": "integer"
						},
						"hasSelectedInterests": {
							"type": "boolean"
						},
						"selectedInterests": {
							"type": "array"
						},
						"relatedThemes": {
							"type": "array"
						},
						"likedPosts": {
							"type": "array"
						},
						"bookmarkedPosts": {
							"type": "array"
						},
						"posts": {
							"type": "array"
						},
						"excludedPosts": {
							"type": "array"
						},
						"termsAndConditions": {
							"type": "null"
						},
						"thirdPartyMarketing": {
							"type": "null"
						},
						"userProfiling": {
							"type": "null"
						},
						"createdAt": {
							"type": "string"
						},
						"deletedAt": {
							"type": "null"
						},
						"userDevices": {
							"type": "array"
						}
					}
				},
				"typeProperties": {
					"collectionName": "UserInfo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"Id": {
							"type": "string"
						},
						"Discriminator": {
							"type": "string"
						},
						"CategoryId": {
							"type": "string"
						},
						"Name": {
							"type": "string"
						},
						"EngName": {
							"type": "null"
						},
						"Label": {
							"type": "string"
						},
						"Level": {
							"type": "integer"
						},
						"ParentCategories": {
							"type": "array"
						},
						"ChildCategories": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ChildCategoryId": {
										"type": "string"
									},
									"Label": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "Categories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Feed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blinkoorepo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CosmosDB"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"postType": {
							"type": "string"
						},
						"primaryTip": {
							"type": "object",
							"properties": {
								"tipId": {
									"type": "string"
								},
								"activities": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"categoryId": {
													"type": "string"
												},
												"engName": {
													"type": "null"
												},
												"label": {
													"type": "string"
												},
												"level": {
													"type": "integer"
												},
												"name": {
													"type": "string"
												}
											}
										}
									}
								},
								"tags": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											}
										}
									}
								},
								"content": {
									"type": "object",
									"properties": {
										"placeId": {
											"type": "string"
										},
										"geoLocation": {
											"type": "object",
											"properties": {
												"Type": {
													"type": "string"
												},
												"Coordinates": {
													"type": "object",
													"properties": {
														"Lat": {
															"type": "number"
														},
														"Lon": {
															"type": "number"
														}
													}
												}
											}
										},
										"mapUrl": {
											"type": "string"
										},
										"address": {
											"type": "string"
										},
										"title": {
											"type": "string"
										},
										"categories": {
											"type": "array",
											"items": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"categoryId": {
															"type": "string"
														},
														"engName": {
															"type": "null"
														},
														"label": {
															"type": "string"
														},
														"level": {
															"type": "integer"
														},
														"name": {
															"type": "string"
														}
													}
												}
											}
										},
										"description": {
											"type": "null"
										},
										"images": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"associatedTo": {
														"type": "string"
													},
													"imageKey": {
														"type": "string"
													}
												}
											}
										},
										"geoHierarchy": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"key": {
														"type": "string"
													},
													"name": {
														"type": "string"
													},
													"levelName": {
														"type": "string"
													},
													"levelKey": {
														"type": "string"
													},
													"level": {
														"type": "integer"
													}
												}
											}
										},
										"officialWebsite": {
											"type": "null"
										},
										"wikipediaLink": {
											"type": "null"
										},
										"phoneNumber": {
											"type": "null"
										},
										"affiliation": {
											"type": "object",
											"properties": {
												"bookable": {
													"type": "boolean"
												},
												"affiliationLinks": {
													"type": "array"
												}
											}
										},
										"placeType": {
											"type": "string"
										},
										"isHidden": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"videoShootingMonths": {
									"type": "object",
									"properties": {
										"January": {
											"type": "boolean"
										},
										"February": {
											"type": "boolean"
										},
										"March": {
											"type": "boolean"
										},
										"April": {
											"type": "boolean"
										},
										"May": {
											"type": "boolean"
										},
										"June": {
											"type": "boolean"
										},
										"July": {
											"type": "boolean"
										},
										"August": {
											"type": "boolean"
										},
										"September": {
											"type": "boolean"
										},
										"October": {
											"type": "boolean"
										},
										"November": {
											"type": "boolean"
										},
										"December": {
											"type": "boolean"
										}
									}
								},
								"suggestedMonthsList": {
									"type": "array"
								},
								"videoShootingMonthsList": {
									"type": "array"
								}
							}
						},
						"secondaryTips": {
							"type": "array"
						},
						"postId": {
							"type": "string"
						},
						"draftId": {
							"type": "string"
						},
						"keyId": {
							"type": "string"
						},
						"userId": {
							"type": "string"
						},
						"discriminator": {
							"type": "string"
						},
						"caption": {
							"type": "string"
						},
						"creator": {
							"type": "object",
							"properties": {
								"avatarKey": {
									"type": "string"
								},
								"givenName": {
									"type": "string"
								},
								"surname": {
									"type": "string"
								},
								"displayName": {
									"type": "string"
								},
								"profileSlug": {
									"type": "string"
								},
								"isVerified": {
									"type": "boolean"
								},
								"isCertified": {
									"type": "boolean"
								}
							}
						},
						"originalLanguage": {
							"type": "object",
							"properties": {
								"languageId": {
									"type": "string"
								},
								"languageTag": {
									"type": "string"
								},
								"familyName": {
									"type": "string"
								}
							}
						},
						"video": {
							"type": "object",
							"properties": {
								"videoId": {
									"type": "string"
								},
								"eclexiaVideoId": {
									"type": "integer"
								},
								"videoGuid": {
									"type": "string"
								},
								"lengthInSeconds": {
									"type": "integer"
								},
								"selectedThumbnailUrl": {
									"type": "string"
								},
								"coverImageUrl": {
									"type": "string"
								},
								"shareImageUrl": {
									"type": "string"
								},
								"formats": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								},
								"formatsMP4": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Url": {
												"type": "string"
											},
											"VideoBitrateMax": {
												"type": "integer"
											},
											"AudioBitrate": {
												"type": "integer"
											},
											"WidthMax": {
												"type": "integer"
											},
											"HeightMax": {
												"type": "integer"
											},
											"Language": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"status": {
							"type": "object",
							"properties": {
								"isPrivate": {
									"type": "boolean"
								},
								"isDeleted": {
									"type": "boolean"
								},
								"isBanned": {
									"type": "boolean"
								},
								"bannedFor": {
									"type": "null"
								}
							}
						},
						"images": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ImageKey": {
										"type": "string"
									}
								}
							}
						},
						"styles": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"styleId": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"tags": {
							"type": "array"
						},
						"feedListIds": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"listNameId": {
										"type": "string"
									}
								}
							}
						},
						"ctCode": {
							"type": "string"
						},
						"publicationDate": {
							"type": "string"
						},
						"lastUpdate": {
							"type": "string"
						},
						"numberOfViews": {
							"type": "integer"
						},
						"numberOfLikes": {
							"type": "integer"
						},
						"numberOfBookmarks": {
							"type": "integer"
						},
						"numberOfShares": {
							"type": "integer"
						},
						"ranking": {
							"type": "number"
						}
					}
				},
				"typeProperties": {
					"collectionName": "Feed"
				}
			},
			"dependsOn": []
		}
	]
}