blinkoo-data-factory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blinkoo-data-factory"
		},
		"AzureDataLakeStorageDev_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageDev'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDatabricks2_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks2'"
		},
		"blinkoorepo_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blinkoorepo'"
		},
		"AzureDataLakeStorageDev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://blinkoodatalakedev.dfs.core.windows.net"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0304-092528-p5078pvj"
		},
		"AzureDatabricks2_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0304-092528-p5078pvj"
		},
		"Rest_loganalytics_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.loganalytics.io/v1/workspaces/',linkedService().WorkSpaceID,'/')}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1606_1706')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-17 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-16 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1706_1806')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-18 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-17 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1806_1906')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-19 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-18 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_1906_2006')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-20 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-19 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2006_2106')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-21 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-20 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2106_2206')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-22 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-21 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2206_2306')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-23 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-22 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2306_2406')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-24 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-23 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2406_2506')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-25 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-24 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2506_2606')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-26 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-25 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2606_2706')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-27 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-26 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2706_2806')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-28 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-27 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2806_2906')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-29 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-28 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_2906_3006')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-06-30 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-29 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T10:50:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_LogAnalytics_AppDependencies_3006_0107')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getBearerToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat(\n'grant_type=client_credentials',\n'&client_id=',pipeline().parameters.ClientID,\n'&client_secret=',pipeline().parameters.ClientSecret,\n'&resource=',variables('Resource')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Token Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('getBearerToken').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Token Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Table_Names",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Table Variable",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set End Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Table Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "end_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.end_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Post Function",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set Start Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://blinkoo-data-factory-pipelines.azurewebsites.net/api/get_log_data",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"start_date\":\"',variables('start_date'),'\",\"token\":\"',variables('token'),'\",\"end_date\":\"',variables('end_date'),'\",\"table\":\"',variables('table'),'\"}')",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00"
									}
								},
								{
									"name": "Set Start Date Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set End Date Variable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "start_date",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd, HH:00:00')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ClientSecret": {
						"type": "string",
						"defaultValue": "b0w7Q~IGjV3RcA~b3N2yXYWmVN.gTd1GUeA-."
					},
					"ClientID": {
						"type": "string",
						"defaultValue": "9dc3796a-275c-4753-aedd-1c61fb230b74"
					},
					"TenantID": {
						"type": "string",
						"defaultValue": "f8e56e96-2cd7-413d-9a4d-177bfd942437"
					},
					"WorkspaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					},
					"Table_Names": {
						"type": "array",
						"defaultValue": [
							"AppDependencies"
						]
					},
					"end_time": {
						"type": "string",
						"defaultValue": "2022-07-01 00:00:00"
					},
					"start_time": {
						"type": "string",
						"defaultValue": "2022-06-30 00:00:00"
					}
				},
				"variables": {
					"Resource": {
						"type": "String",
						"defaultValue": "https://api.loganalytics.io"
					},
					"token": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SOS"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-05T13:04:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageDev_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageDev_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-673365400340149.9.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-673365400340149.9.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks2_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks2_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rest_loganalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"WorkSpaceID": {
						"type": "string",
						"defaultValue": "8f01acd1-5ade-4ad8-8c2c-5a3708be25e5"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Rest_loganalytics_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blinkoorepo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('blinkoorepo_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}